.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .box{
        border: 2px solid rgb(9, 0, 128);
        height: 300px;
        width: 28%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            color: #fff;
            text-align: center;
        }
        &.activeClassGreen{
            background-color: darkgreen;
        }
        &.activeClassRed{
            background-color: darkred;
        }
        &.activeClassBlue{
            background-color: darkblue;
        }
    }
    button{
        padding: 15px 20px;
        border: none;
        background-color: darkblue;
        color: #fff;
        display: block;
        cursor: pointer;
    }
}